---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Picture } from "astro:assets";
import hero from "../assets/hero.png";
import Mony from './products/mony.astro';
---

<BaseLayout>
  <section id="hero">
    <div
      class="flex max-w-screen-xl px-4 md:px-20 pt-5 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:grid-cols-12"
    >
      <div class="mr-auto place-self-center">
        <h1
          class="text-primary-800 max-w-4xl mb-4 text-4xl font-extrabold tracking-tighter leading-1 md:text-5xl xl:text-6xl"
        >
          Construimos productos digitales <span class="text-green-600"
            >innovadores</span
          >
        </h1>
        <p
          class="max-w-2xl mt-4 text-gray-800 lg:mb-8 text-sm md:text-md lg:text-lg"
        >
          Somos so帽adores y hacedores apasionados por la tecnolog铆a y la
          innovaci贸n, comprometidos con un desarrollo digital humano.
        </p>
      </div>
      <div>
        <Picture
          widths={[1024]}
          src={hero}
          alt="Molecula Digital"
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <section id="reviews">
    <div
      class="flex max-w-screen-xl px-4 md:px-20 pt-5 pb-8 mx-auto text-center"
    >
      <figure class="max-w-screen-md mx-auto">
        <svg
          class="h-8 mx-auto mb-3 text-primary-950"
          viewBox="0 0 24 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
            fill="currentColor"></path>
        </svg>
        <blockquote>
          <p class="text-sm lg:text-md font-medium text-gray-900">
            Me encanta el maravilloso enfoque que tienen al construir productos,
            隆son simplemente geniales! Se sumergen por completo en abordar el
            problema y encontrar la mejor soluci贸n con menos fricci贸n. El
            cuidado y dedicaci贸n que ponen en cada idea es realmente destacable,
            隆guau!
          </p>
        </blockquote>
        <figcaption class="flex items-center justify-center mt-6 space-x-3">
          <div class="flex items-center divide-x-2 divide-gray-500">
            <div class="pr-3 font-medium text-gray-900"> Doge</div>
            <div class="pl-3 text-sm font-light text-gray-500">
              Mascota del CEO
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>

  <section id="products" class="bg-cream-alt">
    <div class="max-w-screen-xl px-4 md:px-20 pt-5 pb-8 mx-auto">
      <h1
        class="text-4xl text-primary-800 pt-5 underline underline-offset-3 decoration-4 decoration-emerald-800 font-black text-center"
      >
        Nuestros productos
      </h1>
      <p class="text-sm font-semibold pt-3 pb-10 text-primary-600 text-center">
        No es mucho, pero es trabajo honesto
      </p>
      <Mony />
    </div>
  </section>
</BaseLayout>
