---
import { Picture } from "astro:assets";
import logo from "../assets/md-full-alt.png";
---

<header role="banner">
  <!-- Ribbon -->
  <div class="bg-black text-white text-center text-xs font-medium py-2">
    Soluciones de IA y tecnologia para empresas y emprendedores
  </div>

  <nav
    id="navigation-menu"
    aria-label="Main menu"
    class="bg-cream w-full py-3 flex flex-row items-center place-content-center"
  >
    <div class="flex">
      <a target="_self" href="/" aria-label="Go to homepage">
        <Picture
          class="h-10 object-contain"
          widths={[300, 600, 900]}
          src={logo}
          alt="Logo molecula digital"
          loading="eager"
        />
      </a>
    </div>
  </nav>
</header>
