---
const { navbarActiveItemID } = Astro.props;
const activeClasses = ["text-cyan-200", "font-black"];
import { Picture } from "astro:assets";
import logo from "../assets/Logo Alt.png";

const sections: Array<{
  title: string;
  url: string;
}> = [
  {
    title: "Sobre nosotros",
    url: "#about",
  },
  {
    title: "Productos",
    url: "#products",
  },
  {
    title: "Contacto",
    url: "#contact",
  },
];
---

<header>
  <!-- Ribbon for release notice -->
  <div class="bg-primary-800 text-white text-center text-xs font-medium py-2">
    ¡Nuevo lanzamiento! 🚀 <a
      href="https://heymony.com"
      class="font-bold text-emerald-400">Hey Mony</a
    >
  </div>

  <nav
    id="navigation-menu"
    aria-label="Main menu"
    class="bg-cream w-full py-8 flex flex-row items-center place-content-center"
  >
    <div class="flex">
      <a target="_self" href="/">
        <Picture
          class="h-12 object-contain"
          widths={[900]}
          src={logo}
          alt="MD Logo"
        />
      </a>
    </div>
  </nav>
</header>

<script
  define:vars={{
    navbarActiveItemID,
    activeClasses,
  }}
>
  const activeItemElement = document.getElementById(navbarActiveItemID);

  activeClasses.forEach((activeClass) => {
    activeItemElement.classList.add(activeClass);
  });
</script>
