---
const { navbarActiveItemID } = Astro.props;
const activeClasses = ["text-cyan-200", "font-black"];
import { Picture } from 'astro:assets';
import logo from '../assets/md.svg'

const sections: Array<{
  title: string;
  url: string;
}> = [
{
    title: "Sobre nosotros",
    url: "#about",
  },
  {
    title: "Productos",
    url: "#products",
  },
/*   {
    title: "Contacto",
    url: "#contact",
  },
  {
    title: "Blog",
    url: "/blog",
  } */
];
---

<header>
  <nav class="bg-cream py-8 w-full">
    <div
      class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
    >
      <a href="#" class="flex items-center">
        <Picture
        class="h-6 mr-3 sm:h-9" 
        widths={[32]}
        src={logo}
        alt="MD Logo"
      />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap"
          >molecula.digital</span
        >
      </a>

      <div
        class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
        id="mobile-menu-2"
      >
        <ul
          class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
        >
        
        {
          sections.map((item) => (
          <li>
            <a
              href={item.url}
              class="block py-2 pl-3 pr-4 text-gray-700"
              >{item.title}</a
            >
          </li>
          ))
        }
      
        </ul>
      </div>
    </div>
  </nav>
</header>

<script
  define:vars={{
    navbarActiveItemID,
    activeClasses,
  }}
>
  const activeItemElement = document.getElementById(navbarActiveItemID);

  activeClasses.forEach((activeClass) => {
    activeItemElement.classList.add(activeClass);
  });
</script>
