---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-cream flex flex-col min-h-screen selection:bg-eucalyptus-200 antialiased">
    <Header />
    <main
      class="flex-grow w-full overflow-x-hidden"
      id="main"
      role="main"
      aria-label="Main content"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
