---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  navbarActiveItemID,
  showNavigation = true,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-cream flex flex-col min-h-screen selection:bg-green-300">
    {showNavigation && <Header navbarActiveItemID={navbarActiveItemID} />}
    <main class="flex-grow w-full mx-auto" id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
